/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[探]ogs/
/[Uu]ser[Ss]ettings/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.IDB
*.pidb
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.IDB
*.pidb
.DS_Store
DerivedData/
*.swp
*~
*.nib
*.lock
.gradle/
build/
AssetStoreTools*
/Assets/AssetStoreTools*
[Aa]udio-UI.meta
[Aa]udio.meta
